Source: php-mail-mime
Section: php
Priority: optional
Maintainer: Debian PHP PEAR Maintainers <pkg-php-pear@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
           Prach Pongpanich <prach@debian.org>,
           Dmitry Smirnov <onlyjob@debian.org>,
Build-Depends: debhelper-compat (= 12),
               php-mbstring,
               php-pear,
               pkg-php-tools (>= 1.32)
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/php-team/pear/php-mail-mime
Vcs-Git: https://salsa.debian.org/php-team/pear/php-mail-mime.git
Homepage: https://pear.php.net/package/Mail_Mime/
Rules-Requires-Root: no

Package: php-mail-mime
Architecture: all
Depends: php-mbstring,
         php-pear,
         ${misc:Depends},
         ${phppear:Debian-Depends}
Recommends: ${phppear:Debian-Recommends}
Breaks: ${phppear:Debian-Breaks}
Description: PHP PEAR module for creating MIME messages
 Provides classes to deal with creation and manipulation of mime messages. It
 allows people to create e-mail messages consisting of:
 .
  - mime.php: Create mime email, with html, attachments, embedded images
    etc.
  - mimePart.php: Advanced method of creating mime messages.
  - xmail.dtd: An XML DTD to acompany the getXML() method of the decoding
    class.
  - xmail.xsl: An XSLT stylesheet to transform the output of the getXML()
    method back to an email
